.modal {
  width: 54vw;
  height:27vh;
  left: 0px;
  top: 24%;
  height: 10%;
  background: #C4C4C4;
  border-radius: 6px;
  text-align: center;
  font-family: 'Sedgwick Ave', cursive;
}

#form{
  display: flex;

}

.entrar {
    position: absolute;
    left: 40%;
    top: 88%;
    border: none;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 23px;
    color: #FFFFFF;
    background-color: #CF152D;
    display: flex;
    justify-content: center;
  
}

.entrar:hover {
  background-color: #CF152D;
}
.entrar:focus {
  background-color: #CF152D;
  outline: none;
}

.entrar:not(:disabled):not(.disabled){
  background-color: #CF152D;
    margin-top: -9.8%;
    width: 12%;
    height: 7%;
    margin-left: 4%;
    font-size: 1.3em;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  border: 0px;
}
 #inpOne {
  position: absolute;
  left:6%;
  top:13%;
}
#inpTwo{
  position: absolute;
  left:6%;
  top:44%;
}

.entrarCocina {
  background-color: #DE863E;
  font-family: 'Sedgwick Ave', cursive;
  width: 20%;
  height: 7%;
  margin-top: -14%;
  margin-left: 18%;
  text-align: center;
  font-size: 1em;
  border: none;
}

@media (min-width: 1040px) {
  .entrar {
    left: 40%;
    top: 105%;
  }

  .modal {
    width: 43vw;
    left: -9px;
  }
  .entrar:hover {
    background-color: #CF152D;
  }
  .entrar:focus {
    background-color: #CF152D;
    outline: none;
  }
  
  .entrarCocina:not(:disabled):not(.disabled){
    background-color: #DE863E;
    font-family: 'Sedgwick Ave', cursive;
    margin-top: -7.8%;
    width: 11%;
    height: 7%;
    margin-left: 22%;
    font-size: 1.3em;
  }
  
}


