

.modal {

  width: 54vw;
  height:27vh;
  left: 0px;
  top: 0px;

  background: #C4C4C4;
  border-radius: 6px;
  text-align: center;
}

#form{
  display: flex;

}

.entrar {
    position: absolute;
    width: 145px;
    height: 45px;
    left: 570px;
    top: 508px;
    border: none;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 23px;
    color: #FFFFFF;
    background-color: #ED1522;
    display: flex;
    justify-content: center;
}
