.modal {
  width: 54vw;
  height:27vh;
  left: 0px;
  top: 24%;
  height: 10%;
  background: #C4C4C4;
  border-radius: 6px;
  text-align: center;
}

#form{
  display: flex;

}

.entrar {
    position: absolute;
    width: 145px;
    height: 45px;
    left: 319px;
    top: 464px;
    border: none;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 23px;
    color: #FFFFFF;
    background-color: #ED1522;
    display: flex;
    justify-content: center;
}

.entrar:hover {
  background-color: #ED1522;
}
.entrar:focus {
  background-color: #ED1522;
  outline: none;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: 0px;
}

/*@media (min-width: 1040px) {
  .entrar {
  left: 570px;
  top: 508px;
}
}*/
