.menu{
    background: #CF152D;;
    font-family: 'Sedgwick Ave', cursive;
    color: white;
}

.menuDesayuno {
    text-align: center;
    padding: 3%;
    font-size: 1.5em;
}

.container {
    background-color:#CF152D;;
    width: 41%;
    margin-left: 3%;
    display: table;
    margin-bottom: 5%;
    border: 2px solid white;
}
.menuContainer{
border: 2px solid white;
}
.table{
    border: 2px solid white;
    margin-left: 76%;
}
.tableTwo {
    background-color:rgba(107, 135, 3, 0.45) 
}
.direction {
    top: 10%
}
.text {
    top:10%;
}
.table-borderless td {
    border: 6;
}
.table td, .table th {
    padding: 2.5rem;
}

