.menu{
    background: #CF152D;
    font-family: 'Sedgwick Ave', cursive;
    color: white;
    padding: -2rem;
    width: 100;
    padding-bottom: 3rem;
}

.menuDesayuno {
    margin-left: 15%;
    padding: 3%;
    font-size: 1.5em;
}

.container {
    margin-top: 0%;
    background-color: #CF152D;
    width: 91%;
    margin-left: 4%;
    margin-right: 20%;
    display: table;
    margin-bottom: 2%;
    border: 1px solid white;
}
.contenedorTabla{
    border: 1px solid white;
    width: 51%;
    margin-left: 3%;
    margin-top: -3%;
    margin-bottom: -1%;
    border-radius:5px ;
    
}

.tea{
    position: absolute;
    width: 21%;
    height: 35%;
    margin-left: 58%;
    margin-top: -48%;
}
.rice{
    position: absolute;
    width: 19%;
    height: 16%;
    margin-left: 77%;
    margin-top: -24%;
}
.menuContainer{
border: 1px solid white;
}
.table{
    margin-left: 4%;
    background-color: #DE863E;
    border-radius: 4px;
}
@media (min-width: 1040px) {
    .rice{
    margin-top: -19%;
    }
    .tea{
    margin-top: -32%;
    }
}

