.mainContainer {
    font-family: 'Sedgwick Ave', cursive;
    color: white;
    background-color: #CF152D;
    width: 100vw;
    margin-top: -0.5rem;
    margin-bottom: -13rem;
    height: 155vw;
}

.menu {
        background: #CF152D;
        font-family: 'Sedgwick Ave',
        cursive;
        color: white;
        padding: -2rem;
        width: 51vw;
        padding-bottom: 3rem;
        margin-bottom: -5rem;
        margin-top: 1rem;
}



.menuDesayuno {
    margin-left: 15%;
    padding: 3%;
    font-size: 1.5em;
}

.container {
    margin-top: 0%;
    background-color: #CF152D;
    width: 91%;
    margin-left: 4%;
    margin-right: 20%;
    display: table;
    margin-bottom: 2%;
    
}
.contenedorTabla{
    width: 51%;
    margin-left: 3%;
    margin-top: -3%;
    margin-bottom: -1%;
    border-radius:5px ;

}

.tea{
    position: absolute;
    width: 21%;
    height: 35%;
    margin-left: 58%;
    margin-top: -48%;
}
.rice{
    position: absolute;
    width: 19%;
    height: 16%;
    margin-left: 73%;
    margin-top: -24%;
}

.sake{
    margin-top: -58%;
    position: absolute;
    margin-left: 38%;
    height: 91%;
}


.ramenuno{
    margin-top: -109%;
    position: absolute;
    margin-left: 49%;
    width: 47%;
}



table{
  border-collapse: none !important;
}
.table{
    margin-left: 4%;
    background-color: #DE863E;
    border-radius: 4px;
}
@media (min-width: 1040px) {
    .rice{
    margin-top: -19%;
    margin-left: 77%;
    }
    .tea{
    margin-top: -32%;
    }

    .table{
        margin-left: 4%;
        background-color: #DE863E;
        border-radius: 4px;
    }

    .sake{
        margin-left: 46%;
        margin-top: -37%;
    }
    .ramenuno{
        margin-top: -73%;
    width: 33%;
    margin-left: 51%;
    }

    .mainContainer {
        font-family: 'Sedgwick Ave', cursive;
        color: white;
        background-color: #CF152D;
        width: 100vw;
        margin-top: -0.5rem;
        margin-bottom: -13rem;
        height: 82vw;
    }
}

