.ok {
    margin-top: 2%;
    margin-left: 63%;
    position: absolute;
}

.cerrar{
    position: absolute;
    width: 5%;
    margin-left: 63%;
    margin-top: 10%;
}

@media (min-width: 1024px){
    .ok {margin-top: 2%;
    margin-left: 59%;
    position: absolute;
    }

    .cerrar{
    position: absolute;
    width: 3%;
    margin-left: 59.1%;
    margin-top: 7%;
    }
}