.ok {
    margin-top: 2%;
    margin-left: 63%;
    position: absolute;
}

.cerrar{
    position: absolute;
    width: 5%;
    margin-left: 63%;
    margin-top: 10%;
}
.modalContent{
  background-color:#C4C4C4;
  font-family: 'Sedgwick Ave',
  cursive;

}
.olitas{
  width: 55%;
  margin-left: 48%;
  margin-bottom: -3%;
}

@media (min-width: 1024px){
    .ok {margin-top: 2%;
    margin-left: 59%;
    position: absolute;
    }

    .cerrar{
    position: absolute;
    width: 3%;
    margin-left: 59.1%;
    margin-top: 7%;
    }
}
