.header {
  width: 100vw;
  height: 225px;
  left: 0px;
  top: 225px;

  background: #101113;
}
.fatherLogo {
  display: flex;
  justify-content: center;
}
.logoHeader {
  width: 25vw;
  height: 25vw;
  left: 426px;
  margin-top: 1.2rem;
}

@media (min-width: 1040px) {
  .logoHeader {
    width: 15vw;
    height: 14vw;
  }
}
