.header {
    width: 100vw;
    height: 28vh;
    left: 0px;
    top: 225px;
    background: #101113;
    background-image: url('../../assets/images/olitas.png');
    background-repeat: no-repeat;
    background-position: relative;
    background-position: right;
    background-size: 49vw;
    margin-bottom: -18px;
}
.fatherLogo {
  
  display: flex;
  justify-content: center;
}

@media (min-width: 1040px) {
  .logoHeader {
    width: 15vw;
    height: 14vw;
  }
}
