.header {
  width: 100vw;
  height: 28vh;
  background: #101113;
  background-image: url(/static/media/olitas.74be3b79.png);
  background-repeat: no-repeat;
  background-position: relative;
  background-position: right;
  background-size: 52vw;
  margin-bottom: -18px;
}
.fatherLogo {
  
  display: flex;
  justify-content: center;
}

@media (min-width: 1040px) {
  .logoHeader {
    width: 15vw;
    height: 14vw;
  }
  .header {
    width: 100vw;
    height: 30vh;
    background: #101113;
    background-image: url(/static/media/olitas.74be3b79.png);
    background-repeat: no-repeat;
    background-position: relative;
    background-position: right;
    background-size: 40vw;
    margin-bottom: -18px;
}
}

