.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 6rem; */
}

.optionBtn {
  margin: 1rem;
  width: 15rem;
  background-color: #ED1522;
  font-family: 'Sedgwick Ave',
  cursive;
  padding: 0.5rem;
}

.optionBtn:hover {
  background-color: #ED1522;
}

.mainContainer {
  background-color: #8A8081;
  max-width: 100vw;
  min-height: 100vh;
}

.meseroH1 {
  color: white;
  font-family: 'Sedgwick Ave',
  cursive;
  margin-top: 2rem;
  margin-bottom: 2rem;  
}

